body {
    margin: 0;
}

#block {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    font-family: sans-serif;
    user-select: none;
}

#cord {
    position: relative;
    height: 24px;
}

#clickInfo {
    position: relative;
    height: 24px;
}