body {
    font-family: sans-serif;
    padding: 20px;
}

#text {
    font-size: 24px;
    margin-top: 20px;
    max-width: 1200px;
}

.palette {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    border: 1px solid black;
    width: 412px;
    padding: 8px;
    margin: 12px;
}

.color-block {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}