body {
    font-family: sans-serif;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.block {
    width: 150px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    cursor: pointer;
}

#container {
    margin-top: 20px;
    width: 100%;
}

.cont {
    width: 1200px;
}

#addbtn {
    padding: 10px 20px;
    font-size: 16px;
}

button {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}